body {
    background-color: rgb(245, 245, 245);
}

footer {
    background: linear-gradient(
            45deg,
            rgb(15, 42, 59) 70%,
            rgb(0, 0, 0) 1%,
            rgb(10, 27, 36) 54%
        ),
        url('../images/cidade-paraty-centro.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
}

.badge {
    left: 10px;
    top: 30px;
    position: absolute;
}

.badge-bg {
    height: 24px;
    overflow: hidden;
    font-size: 12px;
    border-radius: 100px;
    color: #fff;
    background: #029344;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-big-bg {
    position: absolute;
    overflow: hidden;
    text-align: center;
    padding: 8px 10px 6px;
    top: 0;
    right: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.4);
    background: transparent;
    z-index: 1;
}

.badge-big-bg::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 14px;
    width: 400%;
    height: 100%;
    background: #029344;
    transform: skew(45deg);
    transform-origin: 50% 100%;
    will-change: transform;
    pointer-events: none;
    z-index: -1;
    padding: 30px 17px 26px;
}

.line-decoration {
    display: block;
    font-size: 0;
    line-height: 0;
}

.line-decoration::after {
    display: inline-block;
    content: '';
    bottom: 0;
    height: 4px;
    width: 70px;
    background: #029344;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.whatsapp-float img {
    width: 35px; 
    height: 35px;
}
